@{
    ViewData["Title"] = "Products";
}

<div class="container p-3 pt-2">
    <div class="row">
        <div class="col-6">
            <h3 class="display-7 text-dark font-weight-bold">List of Products</h3>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-dark" asp-controller="Product" asp-action="Upsert">
                <i class="bi bi-plus-circle"></i> &nbsp;Create New Product
            </a>
        </div>
        <hr />
    </div>

    <div class="py-3 px-4">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Title</th>
                    <th scope="col" class="text-center">ISBN</th>
                    <th scope="col" class="text-center">Price</th>
                    <th scope="col" class="text-center">Author</th>
                    <th scope="col" class="text-center">Category</th>
                    <th scope="col" class="text-center">Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>