@{
    ViewData["Title"] = "Products";
}

<div class="container p-3 pt-2">
    <div class="row">
        <div class="col-6">
            <h3 class="display-7 text-dark font-weight-bold">List of Products</h3>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-dark" asp-controller="Product" asp-action="Upsert">
                <i class="bi bi-plus-circle"></i> &nbsp;Create New Product
            </a>
        </div>
        <hr class="mt-2 mb-0" />
    </div>

    <div class="py-3 px-4" style="overflow-x: auto">
        <table class="table" id="table">
            <thead>
                <tr class="text-left">
                    <th scope="col" class="text-left">Title</th>
                    <th scope="col" class="text-left">ISBN</th>
                    <th scope="col" class="text-left">Price</th>
                    <th scope="col" class="text-left">Author</th>
                    <th scope="col" class="text-left">Category</th>
                    <th scope="col" class="text-left">Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
<script src="~/js/product.js"></script>
}