@{
    ViewData["Title"] = "CoverType Upsert";
}

@model BulkyBook.Models.ViewModels.ProductViewModel

<div class="container p-3 pt-2 row">
    <div class="row">
        <div class="col-6">
            <h3 class="display-7 text-dark font-weight-bold">@(Model.Product.Id != 0 ? "Update" : "Create") Product</h3>
        </div>
        <hr />
    </div>

    <div asp-validation-summary="All"></div>

    <form method="post" asp-action="Upsert" enctype="multipart/form-data">
        <div class="py-3 px-4 border border-1 border-gray">
            <div>
                <fieldset>
                    <div class="form-group m-3 mt-1">
                        <label asp-for="Product.Title" class="form-label"></label>
                        <input asp-for="Product.Title" type="text" class="form-control" id="name" aria-describedby="name" placeholder="Enter Title" />
                        <span asp-validation-for="Product.Title" class="text-danger"></span>
                    </div>

                    <div class="form-group m-3 mt-1">
                        <label asp-for="Product.Description" class="form-label"></label>
                        <textarea rows="3" asp-for="Product.Description" type="text" class="form-control" id="name" aria-describedby="name" placeholder="Enter Description"></textarea>
                        <span asp-validation-for="Product.Description" class="text-danger"></span>
                    </div>

                    <div class="form-group m-3 mt-1">
                        <label asp-for="Product.ISBN" class="form-label"></label>
                        <input asp-for="Product.ISBN" type="text" class="form-control" id="name" aria-describedby="name" placeholder="Enter ISBN" />
                        <span asp-validation-for="Product.ISBN" class="text-danger"></span>
                    </div>

                    <div class="form-group m-3 mt-1">
                        <label asp-for="Product.Author" class="form-label"></label>
                        <input asp-for="Product.Author" type="text" class="form-control" id="name" aria-describedby="name" placeholder="Enter Author Name" />
                        <span asp-validation-for="Product.Author" class="text-danger"></span>
                    </div>

                    <div class="form-group m-3 mt-1">
                        <label asp-for="Product.ListPrice" class="form-label"></label>
                        <input asp-for="Product.ListPrice" type="text" class="form-control" id="name" aria-describedby="name" placeholder="Enter ListPrice" />
                        <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
                    </div>

                    <div class="form-group m-3 mt-1">
                        <label asp-for="Product.Price" class="form-label"></label>
                        <input asp-for="Product.Price" type="text" class="form-control" id="name" aria-describedby="name" placeholder="Enter Price" />
                        <span asp-validation-for="Product.Price" class="text-danger"></span>
                    </div>

                    <div class="form-group m-3 mt-1">
                        <label asp-for="Product.PriceFor5" class="form-label"></label>
                        <input asp-for="Product.PriceFor5" type="text" class="form-control" id="name" aria-describedby="name" placeholder="Enter Price For 5 Set of Books" />
                        <span asp-validation-for="Product.PriceFor5" class="text-danger"></span>
                    </div>

                    <div class="form-group m-3 mt-1">
                        <label asp-for="Product.PriceFor10" class="form-label"></label>
                        <input asp-for="Product.PriceFor10" type="text" class="form-control" id="name" aria-describedby="name" placeholder="Enter Price For 10 Set of Books" />
                    </div>

                    <div class="form-group m-3 mt-1">
                        <label asp-for="Product.ImageUrl" class="form-label"></label>
                        <input class="form-control form-control-sm" id="formFile" type="file">
                    </div>

                    <div class="form-group m-3 mt-1">
                        <label asp-for="Product.CategoryId" class="form-label"></label>
                        <select asp-for="Product.CategoryId" asp-items="@Model.Categories" class="form-select">
                            <option disabled selected>--Select Category--</option>
                        </select>
                        <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                    </div>

                    <div class="form-group m-3 mt-1">
                        <label asp-for="Product.CoverTypeId" class="form-label"></label>
                        <select asp-for="Product.CoverTypeId" asp-items="@Model.CoverTypes" class="form-select">
                            <option disabled selected>--Select CoverType--</option>
                        </select>
                        <span asp-validation-for="Product.CoverTypeId" class="text-danger"></span>
                    </div>

                    @if (Model.Product.Id != 0)
                    {
                        <button type="submit" class="btn btn-dark m-2">Update</button>
                    }
                    else
                    {
                        <button type="submit" onclick="return ValidateInput()" class="btn btn-dark m-2">Create</button>
                    }
                    <a class="btn btn-dark m-2" asp-controller="CoverType" asp-action="Index">
                        Back To List
                    </a>
                </fieldset>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
    <partial name="_ValidationScriptsPartial" />
    }
<script>
        function ValidateInput(){
            if(document.getElementById("formFile").value == '') {
                Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Please upload an Image!',
                //footer: '<a href="">Why do I have this issue?</a>'
    });
                return false;
            }
            else {
                return true;
            }
        }
</script>
}