@model IEnumerable<CoverType>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-dark">List of CoverTypes</h2>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-dark" asp-controller="CoverType" asp-action="Create">
                <i class="bi bi-plus-circle"></i> &nbsp; Create New CoverType
            </a>
        </div>
        <hr />
    </div>

    <br />

    <div class="px-3">
        <table class="table caption-top table-bordered">
            @*<caption>List of CoverTypes</caption>*@
            <thead>
                <tr>
                    <th scope="col" class="text-center">CoverType Name</th>
                    <th scope="col" class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        @*                <th scope="row">1</th>
                        *@
                        <td class="text-center">@obj.Name</td>
                        <td class="text-center">
                            <div class="d-grid gap-2 d-md-block">
                                <a class="btn btn-dark" role="button" asp-controller="CoverType" asp-action="Edit" asp-route-id="@obj.Id"> <i class="bi bi-pencil-square"></i></a>
                                <a class="btn btn-dark" role="button" asp-controller="CoverType" asp-action="Remove" asp-route-id="@obj.Id"><i class="bi bi-trash3"></i></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>