@{
    ViewData["Title"] = "CoverType Remove";
}

@model CoverType

<div class="container p-3 pt-2">
    <div class="row">
        <div class="col-6">
            <h3 class="display-7 text-dark font-weight-bold">Remove CoverType</h3>
        </div>
        <hr />
    </div>

    <div asp-validation-summary="All"></div>

    <form method="post" asp-action="Remove">
        <input asp-for="Id" hidden />
        <div class="py-3 px-4 border border-1 border-gray">
            <div>
                <fieldset>
                    <div class="form-group m-3 mt-1">
                        <label asp-for="Name" class="form-label"></label>
                        <input asp-for="Name" type="text" disabled class="form-control" id="name" aria-describedby="name" placeholder="Enter Name" />
                    </div>
                    <hr class="my-4">
                    <button type="submit" class="btn btn-dark mx-2">Remove</button>
                    <a class="btn btn-dark mx-2" asp-controller="CoverType" asp-action="Index">
                        Back To List
                    </a>
                </fieldset>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}